<div id="new-release-banner" class="row row--short row--wide">
    Hi there!  Spee&#60;h is currently undergoing maintenance and some features may not work correctly!  Follow us on <a style="color:white; text-decoration: underline" target="_blank" href="https://twitter.com/spee_ch">twitter</a> for updates.
</div>
